<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nettside Hosting</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/styles.css">
	<link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet"/>
</head>
<body>
	<nav class="text-center navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Nettside Hosting</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
			<a class="nav-link active" aria-current="page" href="./index.html">Home</a>
			<a class="nav-link" href="./git.html">Github</a>
			<a class="nav-link" href="./hero.html">Heroku</a>

			</ul>
		  </div>
		</div>
	</nav>

<h1 class="heading">Hvordan sette opp Github pages</h1>
<video class="my-video video-js" data-setup="{}" controls>
	<source src="../public/pexels-ivan-khmelyuk-7222009.mp4" type="video/mp4">
</video>
<p></p>

<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>