<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nettside Hosting</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/styles.css">
	<link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet"/>
</head>
<body>
	<nav class="text-center navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Nettside Hosting</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
			<a class="nav-link active" aria-current="page" href="./index.html">Home</a>
			<a class="nav-link" href="./git.html">Github</a>
			<a class="nav-link" href="./hero.html">Heroku</a>

			</ul>
		  </div>
		</div>
	</nav>

<h1 class="heading">Hvordan laste opp nettisde til Heroku</h1>
<video class="my-video video-js" data-setup="{}" controls>
	<source src="../public/pexels-ivan-khmelyuk-7222009.mp4" type="video/mp4">
</video>

<p class="tutorial-text img-padding">
	For å bruker Heroku så må du først lage en bruker. Dette kan du gjøre på <a href="https://signup.heroku.com/" target="_blank">Heroku.com</a>.
	Å bruke heroku er helt gratis.
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/SUH.PNG" alt="Lag Heroku konto">
	<br><br>
</p>
<ol class="tutorial-text">
	<li>
		Trykk på "Create new app" og lag et navn for app'en din.
	</li>
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/CNA.PNG" alt="Trykk på Create new app">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/CAN.PNG" alt="Lag et navn">
	<br><br>
	<hr>
	<li>
		Gå ned til du ser "Install the Heroku CLI" og trykk på lenken. Velg hvilken version som passer for deg og din PC, og innstaller 
		programmet.
	</li>
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/IHC.PNG" alt="Gå inn på Heroku CLI">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/DAI.PNG" alt="Last ned Heroku CLI">
	<br><br>
	<hr>
	<li>
		For å se om installasjonen gikk fint gå inn på Ledetekst (CMD) og skriv "heroku". Hvis det gikk fint vil du få opp Heroku commands. 
		Inne på terminalen til prosjektet skriver du "heroku login" i terminalen. 
	</li>
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/CMD.PNG" alt="skriv heroku i CMD">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/HLI.PNG" alt="skriv heroku login i CMD">
	<br><br>

	<hr>
	<li>
		Så må du lage et git repository så du må skrive "git init". Så "heroku git:remote -a "navnet-på-heroku-app'en". Så legger du til 
		filene til heroku med "git add ." Så må du få alt opp til git ved hjelp av "git commit -am "beskrivelse av hva du har lagt til" Til slutt må du 
		laste alt opp til heroku ved hjelp av "git push heroku main""
	</li>
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/GIN.PNG" alt="skriv git init i CMD">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/HGR.PNG" alt="skriv heroku git:remote i CMD">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/GA..PNG" alt="skriv git add . i CMD">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/GCI.PNG" alt="skriv git commit i CMD">
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/GPH.PNG" alt="skriv git push heroku main i CMD">
	<br><br>
	<hr>
	<li class="bottom-text">
		Til slutt skriver du "heroku open" og da har du gjort alt du trenger for å få opp et prosjekt på heroku.
	</li>
	<br><br>
	<img class="tutorial-img" src="../public/img/heroku/HUO.PNG" alt="åpne heroku appen">
	<br><br>

</ol>

<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>